.hero{
    padding-top: 16px;
    padding-bottom: 16px;
}
@include media-breakpoint-up(lg){
    .hero{
        padding-top: 144px;
        padding-bottom: 144px;
    }
}

.hero-image{
    max-height: 100%;
    max-width: 100%;
}

.stats{
    .promote-icon{
        width: 100px;
        height: 100px;
    }
    h2{
        font-size: 32px;
    }
    p{
        font-size: 28px;
    }
}
