.h-32px{
    height: 32px;
}

.h-315px{
    height: 315px;
}

.min-h-372px{
    min-height: 372px;
}

.py-80px{
    padding-top: 80px;
    padding-bottom: 80px;
}

.fs-12px{
    font-size: 12px;
}

.bg-gray{
    background-color: $gray-100;
}


.navbar-nav {
    .nav-link.active {
        color: $white;
        font-weight: bold;
    }

    .nav-link {
        color: $white;

        &:hover {
            color: $gray-200;
        }
    }
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}
@include media-breakpoint-up(lg) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-primary-white {
    background-color: $white;
    color: $primary;
    border-radius: 50px;
    padding: 10px 24px;
    min-width: 128px;

    &:hover {
        background-color: $gray-100;
        color: $primary;
    }
}

.btn-primary {
    background-color: $blue;
    color: $white;
    border-radius: 50px;
    padding: 10px 24px;
    min-width: 128px;

    &:hover {
        color: $white;
    }
}

.btn-secondary {
    background-color: $white;
    border-color: $primary;
    color: $primary;
    border-radius: 50px;
    padding: 10px 24px;
    min-width: 128px;

    &:hover {
        background-color: $gray-100;
        color: $primary;
    }
}

.card{
    border: none;
    border-radius: 20px;
    padding: 24px;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: $primary !important;
    }
}

.text-bg-light{
    &:hover{
        color: $primary !important;
    }
}

.color-gray{
    color: $gray-500;
}

.card-avatar-sm{
    width: 18px;
    height: 18px;
}

.avatar-sm-wrapper{
    height: 18px;
    width: 18px;
}

.avatar{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    background-color: $gray-800;
}

.me-140px{
    margin-right: 140px;
}